In [ ]:
import pandas as pd

from tqdm import tqdm
import psycopg2 as pg2
import psycopg2.extras as pgex
from psycopg2.extras import RealDictCursor
this_host='34.211.59.66'
this_user='postgres'
this_password='postgres'

con_ct = pg2.connect(host = this_host,user = this_user,password = this_password)
sql_nodate = '''update tweets set time = substring(created_at,11,9);
'''
cur_ct = con_ct.cursor()
cur_ct.execute(sql_ct)
ct = cur_ct.fetchall()

#total english tweets = n
n = ct[0][0]
print('total tweet:',n)
cur_ct.close()

conn = pg2.connect(host = this_host, user = this_user,password = this_password)
cur = conn.cursor(cursor_factory=RealDictCursor)


count = 0
while count < n: 
    sql_select = '''select * from tweets where vector is null limit 1 offset {}'''.format(count)
    count += 1
    #cur = conn.cursor()
    cur.execute(sql_select)
    row = cur.fetchall()[0]
    t = c(row['tweet_content'])
    v = nlp(row['tweet_content']) 
    v_arr = v.vector
    v_bin = pg2.Binary(v_arr)
    sql_update = '''
    update tweets
    set vector = {}
    where tweet_content = '{}';
    commit;'''.format(v_bin,t)
    cur.execute(sql_update)
    print(count)
    #print(count," ",v_arr[0])
conn.close()    
print('done')

In [ ]:
import pandas as pd

from tqdm import tqdm
import psycopg2 as pg2
import psycopg2.extras as pgex
from psycopg2.extras import RealDictCursor
this_host='34.211.59.66'
this_user='postgres'
this_password='postgres'

conn = pg2.connect(host = this_host,user = this_user,password = this_password)
sql_notime = '''update tweets set time = TO_TIMESTAMP(substring(created_at,11,9), 'HH24:MI:SS') where time is null;
'''
sql_nodate = '''update tweets set date = TO_date(concat(substring(created_at,27,4),'-',\
                                                           substring(created_at,5,3),'-',substring(created_at,9,2)), \
                                                    'YYYY-Mon-DD') where date is null;'''

se = '''update tweets set date_time = to_timestamp(concat(substring(created_at,27,4),'-',substring(created_at,5,3),'-',
substring(created_at,9,2),' ',substring(created_at,11,9)),'YYYY-Mon-DD HH24:MI:SS') at time zone 'UTC';'''


cur = conn.cursor()
cur.execute(se)
conn.commit()
conn.close()

In [ ]:
SELECT startdate::timestamp AS startdate,
        (DATE_PART('hour',startdate::timestamp)::integer) as hrs,count(guorderid)
        FROM ord_entitlement
        WHERE DATE_PART('Day',now() - startdate::timestamptz) < 1
        GROUP BY  hrs,startdate
        ORDER BY startdate
        
        SELECT Combined = MyDate + MyTime FROM MyTable
        SELECT ((timestamp '2015-10-24 16:38:46') AT TIME ZONE 'UTC');
        
 '''update tweets set time = TO_TIMESTAMP(substring(created_at,11,9), 'HH24:MI:SS') where time is null;
'''       

update tweets set time = TO_TIMESTAMP((substring(created_at,27,4),'-',substring(created_at,5,3),'-',
substring(created_at,9,2),' ',substring(created_at,11,9),'YYYY-Mon-DD HH24:MI:SS') from tweets limit 1;

 to_timestamp(text, text)	timestamp with time zone	convert string 
to time stamp	to_timestamp('05 Dec 2000', 'DD Mon YYYY')       

INSERT INTO tweets (date_time) values (TO_TIMESTAMP((substring(created_at,27,4),'-',substring(created_at,5,3),'-',
substring(created_at,9,2),' ',substring(created_at,11,9)),'YYYY-Mon-DD HH24:MI:SS')) select created_at from tweets;

INSERT INTO tweets(date_time) select to_timestamp(concat(substring(created_at,27,4),'-',substring(created_at,5,3),'-',
substring(created_at,9,2),' ',substring(created_at,11,9)),'YYYY-Mon-DD HH24:MI:SS') at time zone 'UTC' from tweets;

INSERT INTO tweets(date_time) select concat(substring(created_at,27,4),'-',substring(created_at,5,3),'-',
substring(created_at,9,2),' ',substring(created_at,11,9)) from tweets;                                      
                                      
                                      select to_timestamp('30/12/2011 00:30:00', 'DD/MM/YYYY HH24:MI:SS 
') at time zone 'UTC';
                                                          

INSERT INTO employees_log SELECT *, current_timestamp FROM upd;

INSERT INTO some_table 
 (ts_column) 
 VALUES 
 (to_timestamp('16-05-2011 15:36:38', 'dd-mm-yyyy hh24:mi:ss'));
                                                          
                                                          
                                                          update 
Vendor 
set ulARAgeing = 'Current' 
where AccountTerms = 0;

In [ ]:
update tweets set date_time = to_timestamp(concat(substring(created_at,27,4),'-',substring(created_at,5,3),'-',
substring(created_at,9,2),' ',substring(created_at,11,9)),'YYYY-Mon-DD HH24:MI:SS') at time zone 'UTC';